<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714174846644-i8ng9mel2a2s79tnrupdv3dccbfc8v1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714174846644-i8ng9mel2a2s79tnrupdv3dccbfc8v1v</string>
	<key>API_KEY</key>
	<string>AIzaSyDoKg8k4X7Kpa3FlbZmhMIwssCOG8EKQNA</string>
	<key>GCM_SENDER_ID</key>
	<string>714174846644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.itesm.A01136536.Info-Med</string>
	<key>PROJECT_ID</key>
	<string>info-med-9b329</string>
	<key>STORAGE_BUCKET</key>
	<string>info-med-9b329.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714174846644:ios:0f1102b02e224fc19ce9e1</string>
	<key>DATABASE_URL</key>
	<string>https://info-med-9b329.firebaseio.com</string>
</dict>
</plist>